body {
  padding-top: 60px;
  background-color: #F5F6F6;
}
.starter-template {
  padding: 50px 15px;
  text-align: center;
}
.panel {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.panel-default {
  border-color: #DDDDDD;
}
.dashbox .panel-body {
  min-height: 102px;
  padding: 5px;
}
.dashbox .panel-right {
  border-radius: 0 4px 4px 0;
  float: right;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.dashbox .panel-right .number {
  font-size: 30px;
  font-weight: 400;
}
.dashbox.danger{color: #d9534f}
.dashbox.info{color: #5bc0de}
.dashbox.primary{color: #428bca}
.dashbox.success{color: #5cb85c}
.dashbox.warning{color: #f0ad4e}  
.dashbox .title {
  text-transform: uppercase;
  font-weight: bold;
}
.dashbox .panel-right .label {
  font-size: 11px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.code {
  background: none repeat scroll 0 0 #000000;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-size: 11px;
  height: 322px;
  padding:5px;  
  width: 100%;
  overflow: hidden; 
}
#urlhits{text-align: justify; word-wrap: break-word;}