<% for(var index in data.items){ %>
<% var k = parseInt(index)+1; %>
  <tr>
	<td><%=data.items[index].order_id%></td>
	<td><%=data.items[index].itemjson%></td>
	<td><%=data.items[index].qty%></td>
	<td><%=data.items[index].status%></td>
	<td style="width:190px;">
	<button type="button" class="btn btn-danger pull-left delete-order">Delete</button> 
	</td>

  </tr>
<% } %>