  <tr>
	<td><%=order_id%></td>
	<td><%=itemjson%></td>
	<td><%=qty%></td>
	<td><%=status%></td>
	<td style="width:190px;">
	<button type="button" class="btn btn-danger pull-left delete-order">Delete</button> 
	</td>
  </tr>
